/* RESET CSS*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
main,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

a:hover,
a:active {
    outline: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}
/*END: RESET CSS*/

html {
	height: 100%;
    font: 12px/1.5 hiragino sans gb, microsoft yahei, simsun;
}
body {
	height: 100%;
	color: #757575;
	background-color: #e7e9fd;
}
.top {
	width: 100%;
    height: 60px;
    background-color: #5677fc;
    box-sizing: border-box;
    position: relative;
}
.top .menu {
	display: none;
}
.top .title {
    color: #fff;
    font-size: 24px;
    line-height: 60px;
    font-weight: 500;
    width: 820px;
    margin: auto;
    box-sizing: border-box;
}
.container {
    margin: 20px auto;
    width: 820px;
    box-sizing: border-box;
}
.container:after {
	content: " ";
	display: block;
	height: 0;
	clear: both;
}
.container .guide .group,
.container .main {
	background-color: #fafafa;
}
.container .guide {
    float: right;
    width: 200px;
    font-size: 14px;
    box-sizing: border-box;
}
.container .guide .group {
    margin-bottom: 10px;
    overflow: hidden;
    
}
.container .guide .group .group-name {
	height: 30px;
	line-height: 30px;
	text-align: center;
	color: #fff;
	background-color: #5677fc;
	display: block;
}
.container .guide .item-list {
    overflow: hidden;
    list-style-type: none;
}
.container .guide .group .item-list a{
	color: #757575;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	box-sizing: border-box;
	padding: 5px 10px;
    text-decoration: none;
	width: 100%;
	height: 30px;
	line-height: 20px;
	display: block;
}
.container .guide .group .item-list a:hover{
	color: #fff;
	background-color: #445ede;
}
.container .main {
    width: 600px;
    padding: 20px;
    box-sizing: border-box;
}

@media (max-width: 840px) {
	.on-menu .top, .on-menu .main{
		filter: blur(2px);
		-webkit-filter: blur(2px);
	}
	.top .title {
		width: 90%;
		padding-left: 30px;
	}
	.top .menu {
		position: absolute;
		top: 20px;
		left: 5%;
		width: 20px;
		display: block;
	}
    .container {
        width: 90%;
    }
    .container .guide {
        float: none;
        position: fixed;
        top: 0;
        left: -70%;
        width: 70%;
        height: 110%; /*for chrome scroll bar*/
        transition: left 0.5s;
        -webkit-transition: left 0.5s;
        background-color: #fafafa;
        z-index: 10;
    }
    .on-menu .container .guide {
    	left: 0;
    }
    .container .guide .group{
    	margin: 0;
    	box-shadow: none;
    }
    .container .main {
        margin-top: 10px;
        margin-left: 0;
        width: 100%;
    }
}

@media (min-width: 1200px) {
    .top .title {
        width: 1120px;
    }
    .container {
        width: 1120px;
    }
    .container .guide {
        width: 300px;
    }
    .container .main {
        width: 800px;
    }
}

.md-shadow {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
}
