html, body, div, span, ul, ol, li {
	margin: 0;
	padding: 0;
}
html, body {
  height: 100%;
  background-color: #333;
}
body {
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
}
a, a:focus, a:hover {
  color: #fff;
  text-decoration: none;
}
.header {
	height: 130px;
	text-align: left;
	position: relative;
}
.header h3{
	left: 10px;
	bottom: 10px;
	position: absolute;
}
.guide {
	float: left;
	width: 20%;
	background-color: #444;
	padding: 10px 10px;
}
.guide ul {
	list-style-type: none;
	text-align: left;
}
.guide li {
	margin: 5px 10px;
}
.guide .list ul {
	display: none;
}
.guide .list .active ul {
	display: block;
}
.main {
	width: 70%;
	background-color: #444;
	margin-left: 22%;
	padding: 10px;
}