html, body, div, span, ul, ol, li {
	margin: 0;
	padding: 0;
}
html, body {
  height: 100%;
  background-color: #333;
}
body {
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
}
a, a:focus, a:hover {
  color: #fff;
  text-decoration: none;
}
.container {
	min-width: 750px;
}
.header {
	height: 130px;
	text-align: left;
	position: relative;
}
.header h3{
	left: 10px;
	bottom: 10px;
	position: absolute;
}
.guide {
	float: left;
	display: inline-block;
	width: 20%;
	min-width: 150px;
	background-color: #444;
	padding: 10px 10px;
	text-align: left;
}
.guide .group {
	margin-top: 5px;
	margin-bottom: 5px;
}
.guide .arrow{
	display: inline-block;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 5px 0 5px 10px;
	border-color: transparent transparent transparent #ffffff;
}
.guide .unfold .arrow{
	border-width: 10px 5px 0 5px;
	border-color: #ffffff transparent transparent transparent;
}
.guide .item-list {
	margin-left: 20px;
	display: none;
	list-style-type: none;
}
.guide .unfold .item-list {
	display: block;
}
.guide .group .item {
	margin: 5px 0;
}
.main {
	float: left;
	display: inline-block;
	width: 75%;
	background-color: #444;
	padding: 10px 20px;
	text-align: left;
	margin-left: 20px;
}
@media (max-width: 760px) {
	.container {
		min-width: 200px;
	}
	.header {
		height: 70px;
	}
	.guide {
		width: 100%;
	}
	.main {
		margin-top: 10px;
		margin-left: 0;
		width: 100%;
	}
}