---
layout: default
title: Home
---

<div class="posts">
  {% for post in paginator.posts %}
  <article class="post">
    <a class="post-link" href="{{ post.url | relative_url }}">
      <time datetime="{{ post.date | date_to_xmlschema }}" class="post-date">{{ post.date | date_to_string }}</time>
      <h1 class="post-title">{{ post.title }}</h1>
    </a>
  </article>
  {% endfor %}
</div>

{% if paginator.total_pages > 1 %}
<div class="pagination">
  {% if paginator.previous_page %}
    <a class="pagination-item newer" href="{{ paginator.previous_page_path | prepend: relative_url }}">上一页</a>
  {% else %}
    <span class="pagination-item newer">上一页</span>
  {% endif %}
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ paginator.next_page_path | relative_url }}">下一页</a>
  {% else %}
    <span class="pagination-item older">下一页</span>
  {% endif %}
</div>
{% endif %}
